@model IEnumerable<EmployeeTracker.Domain.Model.EmployeeArrival>

@{
    ViewBag.Title = "Employees Arrivals";
}

<h2>Employees Arrivals</h2>

<div>
    @using (Html.BeginForm("ArrivalsById", "Employee", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group">
            <input name="employeeId" type="number" class="form-control" placeholder="Search by Employee Id">
        </div>
        <button type="submit" class="btn btn-primary" id="submitButton">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    }
</div>

<div class="userTableWrapper">
    <table class="table table-striped table-hover table-condensed table-bordered userInfoTable">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Arrival Date &amp; Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.EmployeeId
                    </td>
                    <td>
                        @item.When.ToString("dd-MMMM-yyyy HH:mm:ss")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
