
@{
    ViewBag.Title = "List";
}

<h2>List</h2>





@section Scripts{
    <script>
        $(document).ready(function () {

            console.log("ready!");

            /*
            $.ajax({
                url: 'http://localhost:51396/api/clients/subscribe?date=2016-03-10&callback=http://localhost:61051/Employee/Save',
                context: document.body,
                headers: { 'Accept-Client': 'Fourth-Monitor' },
                crossDomain: true,
            }).done(function (data) {
                console.log(data);
                alert("done");
            }).fail(function () {
                alert("fail");
            });
            */
           



        });
    </script>
}





