<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="errorMessages">
        <h1>Error :(</h1>
        <br />
        <h3>Sorry, an error occurred while processing your request. Please consult the Errors.log file for more details.</h3>
    </div>

    @*<div>      
        <span>
            @Model.Exception
        </span>       
        <div style="display: none">
            @Model.Exception.StackTrace
        </div>
    </div>*@
</body>
</html>
